<h1><%= @post.title %></h1>

<i><%= @post.author.email %> posted at <%= @post.created_at %></i>
<div class="card">
  <%= @post.text %>
</div>

<h3>Comments:</h3>

<div class="card">
  <%= render @post.comments %>
</div>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<% if current_author == @post.author %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>